body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p.legend a img {
  display: none;
  position: absolute;
  left: -80px;
  top: -22px;
}
p.legend a {
  display: inline-block;
  position: relative;
}
p.legend a img {
  display: none;
}
p.legend a:hover img {
  display: inherit;
}
p.legend {
  display: contents;
}
.container-header {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
}

.chart-container > div {
  min-height: 600px;
  min-width: 800px;
}

.text {
  color: white;
  font-size: x-small;
  float: right;
}
